<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/480856b811.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/styles.css">


    <title>Mercado Liebre</title>
</head>

<body>
    <!--Comienzo del header-->
    <header>
        <img src="/static/img/logo-mercado-liebre.svg" width="30%" alt="">

        <nav>
            <label for="buscar">Buscar</label>
            <input type="search" name="buscar" id="">
            <h3><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</h3>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="#"></i>Crea tu cuenta</a><i class="far fa-id-card"></i></li>
                <li><a href="#"></i>Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#"></i>Mis Compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <!--Fin del header-->

    <!--Comienzo del Main-->
    <main>
        <!--Section de visitas-->
        <section>
            <h3>Basado en tu ultima visita</h3>
            <div>
                <img src="/static/img/img-cafetera-moulinex.jpg" width="15%" alt="imagen cafetera">
                <p class="precio">$6.770</p>
                <p class="descuentos">40% OFF</p>
                <p class="descripcion">Cafetera Moulinex</p>
            </div>
            <div>
                <img src="/static/img/img-macbook-pro-2019.jpg" width="15%" alt="image de macbook">
                <p class="precio">230.000</p>
                <p class="descuentos">20% OFF</p>
                <p class="descripcion">MacBook Pro 2019</p>
            </div>
            <div>
                <img src="/static/img/img-samsung-galaxy-s10.jpg" width="15%" alt="samsung galaxy">
                <p class="precio">$70.500</p>
                <p class="descuentos">10% OFF</p>
                <p class="descripcion">Samsung Galaxy S10</p>
            </div>
            <div>
                <img src="/static/img/img-tv-samsung-smart.jpg" width="15%" alt="samsung smart tv">
                <p class="precio">$23.200</p>
                <p class="descuentos">5% OFF</p>
                <p class="descripcion">SmartTV Samsung 43"</p>
            </div>
        </section>

        <!--Section de Ofertas-->
        <section>

            <h3>Ofertas</h3>
            <div>
                <img src="/static/img/img-cafetera-moulinex.jpg" width="15%" alt="imagen cafetera">
                <p class="precio">$6.770</p>
                <p class="descuentos">40% OFF</p>
                <p class="descripcion">Cafetera Moulinex</p>
            </div>

            <div>
                <img src="/static/img/img-macbook-pro-2019.jpg" width="15%" alt="image de macbook">
                <p class="precio">230.000</p>
                <p class="descuentos">20% OFF</p>
                <p class="descripcion">MacBook Pro 2019</p>
            </div>

            <div>
                <img src="/static/img/img-samsung-galaxy-s10.jpg" width="15%" alt="samsung galaxy">
                <p class="precio">$70.500</p>
                <p class="descuentos">10% OFF</p>
                <p class="descripcion">Samsung Galaxy S10</p>
            </div>

            <div>
                <img src="/static/img/img-tv-samsung-smart.jpg" width="15%" alt="samsung smart tv">
                <p class="precio">$23.200</p>
                <p class="descuentos">5% OFF</p>
                <p class="descripcion">SmartTV Samsung 43"</p>
            </div>
        </section>
    </main>

    <!--Fin del Main-->



    <!--Comienzo del footer-->
    <footer>
        <section>
            <i class="fas fa-credit-card"></i>
            <h4>Paga con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>

        </section>

        <section>
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section>
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
    <!--Fin del Footer-->
</body>

</html>